$color: #242629; 

%header-color {
    color: $color;
}

body {
    .myHeader {
        @extend %header-color; 
        padding: 40px;
        text-align: center;
        font-family: 'Verdana';
    }

    #homepageText, #katyTrailText {
        @extend %header-color;
        text-align: center;
    }

    #regularText {
        @extend %header-color;
    }
}